@model FrontEnd.Models.SalesViewModel

@{
    ViewBag.Title = "Borrar-Compra";
}

<h2>Borrar Factura</h2>

<h3>¿Está seguro de borrar esta factura?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cedula_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto_total)
        </dt>

        <dd>
            ₡ @Html.DisplayFor(model => model.monto_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_factura)
        </dd>
    </dl>
    
    <center>
        <div class="table-responsive">
            <table class="table table-striped">
                <caption class="bg-dark">
                    <center>
                        <font color="white">@Html.DisplayNameFor(model => model.monto_total) : ₡@Html.DisplayFor(model => model.monto_total)</font>
                    </center>
                </caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="thead-dark">
                            @Html.DisplayNameFor(model => model.nombre_producto)
                        </th>
                        <th scope="col" class="thead-dark">
                            @Html.DisplayNameFor(model => model.cantidad_producto)
                        </th>
                        <th scope="col" class="thead-dark">
                            @Html.DisplayNameFor(model => model.precio_factura_d)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.productosDetalle)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.productName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantProd)
                            </td>
                            <td>
                                ₡ @Html.DisplayFor(modelItem => item.precio_factura_d)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </center>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.compraID)
        @Html.HiddenFor(model => model.clientID)
        @Html.HiddenFor(model => model.userID)
        @Html.HiddenFor(model => model.monto_total)
        @Html.HiddenFor(model => model.estado_factura)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
