@model FrontEnd.Models.SalesViewModel

@{
    ViewBag.Title = "Borrar-Compra";
}

<h2>Borrar Factura</h2>

<h3>¿Está seguro de borrar esta factura?</h3>
<div>
    <hr />
    <center>
        <div class="table-responsive">
            <table class="table table-light">
                <thead class="bg-danger">
                    <tr>
                        <th scope="col" class="thead-dark">
                            <font color="white">@Html.DisplayNameFor(model => model.cedula_cliente)</font>
                        </th>
                        <th scope="col" class="thead-dark">
                            <font color="white">@Html.DisplayNameFor(model => model.cedula_user)</font>
                        </th>
                        <th scope="col" class="thead-dark">
                            <font color="white">@Html.DisplayNameFor(model => model.fecha_compra)</font>
                        </th>
                        <th>
                            <font color="white">@Html.DisplayNameFor(model => model.estado_factura)</font>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.cedula_cliente)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.cedula_user)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.fecha_compra)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.estado_factura)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
    <br />
    <br />
    <center>
        <div class="table-responsive">
            <table class="table table-striped">
                <caption class="bg-dark">
                    <center>
                        <font color="white">@Html.DisplayNameFor(model => model.monto_total) : ₡@Html.DisplayFor(model => model.monto_total)</font>
                    </center>
                </caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="thead-dark">
                            @Html.DisplayNameFor(model => model.nombre_producto)
                        </th>
                        <th scope="col" class="thead-dark">
                            @Html.DisplayNameFor(model => model.cantidad_producto)
                        </th>
                        <th scope="col" class="thead-dark">
                            @Html.DisplayNameFor(model => model.precio_factura_d)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.productosDetalle)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.productName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantProd)
                            </td>
                            <td>
                                ₡ @Html.DisplayFor(modelItem => item.precio_factura_d)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </center>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.compraID)
        @Html.HiddenFor(model => model.clientID)
        @Html.HiddenFor(model => model.userID)
        @Html.HiddenFor(model => model.monto_total)
        @Html.HiddenFor(model => model.estado_factura)
        <div class="form-actions no-color">
            <button class="btn btn-success btn-md"><a href="~/Sales/Index" style="color:white !important">Volver a la Lista</a></button>
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </div>
    }
</div>
