@model FrontEnd.Models.SalesViewModel

@{
    ViewBag.Title = "Detalle de Factura";
}
<div class="row">
    <div class="col-12 text-center">
        <h2>Detalle de Factura</h2>
        <hr class="hrn-hr" />
    </div>
</div>

<div class="row">
    <div class="col-1"></div>

    <div class="table-responsive col-10 shadow-sm">
        <br />
        <table class="table table-light">
            <thead class="hrn-titMae">
                <tr>
                    <th scope="col" class="thead-dark">
                        @Html.DisplayNameFor(model => model.cedula_cliente)
                    </th>
                    <th scope="col" class="thead-dark">
                        @Html.DisplayNameFor(model => model.cedula_user)
                    </th>
                    <th scope="col" class="thead-dark">
                        @Html.DisplayNameFor(model => model.fecha_compra)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.estado_factura)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.cedula_cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.cedula_user)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.fecha_compra)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.estado_factura)
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />
        <table class="table table-striped table-hover">
            <caption  class="hrn-titdet">
                <center>
                    <font class="thead-dark">@Html.DisplayNameFor(model => model.monto_total) : ₡@Html.DisplayFor(model => model.monto_total)</font>
                </center>
            </caption>
            <thead class="hrn-titMae">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.nombre_producto)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.cantidad_producto)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.precio_factura_d)
                    </th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.productosDetalle)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.productName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantProd)
                        </td>
                        <td>
                            ₡ @Html.DisplayFor(modelItem => item.precio_factura_d)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button class="btn btn-pill btn-success btn-md" style=" width:100%;"><a href="~/Sales/Index" style="color:white !important;">Volver a la Lista</a></button>
            </div>
            <div class="col-4"></div>
        </div>
        <br />
    </div>
    <br />


</div>
<br />

@section Scripts{
    <script>    
        $(document).ready(function () {
            var total = $("#caption").val();
            addCommas(total);
        });

       function addCommas(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }
    </script>

}
