@model FrontEnd.Models.SalesViewModel

@{
    ViewBag.Title = "Detalle de Factura";
}
<div class="row">
    <div class="col-12 text-center">
        <h2>Detalle de Factura</h2>
    </div>
</div>
<hr />



<div>
    <hr />
    <center>
        <div class="table-responsive">
            <table class="table table-light">
                <thead class="bg-success">
                    <tr>
                        <th scope="col" class="thead-dark">
                            <font color="white">@Html.DisplayNameFor(model => model.cedula_cliente)</font>
                        </th>
                        <th scope="col" class="thead-dark">
                            <font color="white">@Html.DisplayNameFor(model => model.cedula_user)</font>
                        </th>
                        <th scope="col" class="thead-dark">
                            <font color="white">@Html.DisplayNameFor(model => model.fecha_compra)</font>
                        </th>
                        <th>
                            <font color="white">@Html.DisplayNameFor(model => model.estado_factura)</font>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.cedula_cliente)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.cedula_user)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.fecha_compra)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.estado_factura)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
    <br />
    <br />
    <center>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <caption class="bg-dark">
                    <center>
                        <font color="white">@Html.DisplayNameFor(model => model.monto_total) : ₡@Html.DisplayFor(model => model.monto_total)</font>
                    </center>
                </caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="thead-dark">
                            @Html.DisplayNameFor(model => model.nombre_producto)
                        </th>
                        <th scope="col" class="thead-dark">
                            @Html.DisplayNameFor(model => model.cantidad_producto)
                        </th>
                        <th scope="col" class="thead-dark">
                            @Html.DisplayNameFor(model => model.precio_factura_d)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.productosDetalle)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.productName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantProd)
                            </td>
                            <td>
                                ₡ @Html.DisplayFor(modelItem => item.precio_factura_d)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </center>
    <br />
</div>
<p>
    <button class="btn btn-pill btn-success btn-md"><a href="~/Sales/Index" style="color:white !important">Volver a la Lista</a></button>
</p>
