@model IEnumerable<FrontEnd.Models.SalesViewModel>

@{
    ViewBag.Title = "Lista Facturación";
}

<div class="row">
    <div class="col-12 text-center">
        <h2>Lista Facturación</h2>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-1"></div>
    <div class="table-responsive col-10">
        <table id="tblFacturas" class="table table-light table-striped">
            <thead class="bg-primary">
                <tr>
                    <th class="">
                        <font color="white">@Html.DisplayNameFor(model => model.cedula_cliente)</font>
                    </th>
                    <th class="">
                        <font color="white">@Html.DisplayNameFor(model => model.cedula_user)</font>
                    </th>
                    <th class="">
                        <font color="white">@Html.DisplayNameFor(model => model.fecha_compra)</font>
                    </th>
                    <th class="">
                        <font color="white">@Html.DisplayNameFor(model => model.estado_factura)</font>
                    </th>
                    <th class="">
                        <font color="white">@Html.DisplayNameFor(model => model.monto_total)</font>
                    </th>
                    <th class="notexport"></th>
                    <th class="notexport"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.cedula_cliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cedula_user)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_compra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estado_factura)
                        </td>
                        <td>
                            ₡ @Html.DisplayFor(modelItem => item.monto_total)
                        </td>
                        <td>
                            <a href="../Sales/Details/@item.compraID" class="btn btn-primary" style="color:white;">Detalles</a>
                        </td>
                        <td>
                            <a href="../Sales/Delete/@item.compraID" class="btn btn-danger" style="color:white;">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblFacturas').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        className: 'hrn-btnadd',
                        text: ' + Crear Factura',
                        action: function (e, dt, node, config) {
                            window.location.href = "../Sales/Create";
                        }
                    },
                    {
                        extend: 'copy',
                        text: 'Copiar',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                    },
                    {
                        extend: 'excel',
                        text: 'Excel',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                    },
                    {
                        extend: 'pdf',
                        text: 'Pdf',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                    }

                ],
                "language": { "url": "../Vendor/DataTables/Spanish.json" },
                columnDefs: [
                    { width: 80, targets: 0 }

                ],
                fixedColumns: true
            });
        });

    </script>

}
