@model IEnumerable<FrontEnd.Models.SalesViewModel>

@{
    ViewBag.Title = "Lista Facturación";
}

<h2>Lista Facturación</h2>

<h4>
    @Html.ActionLink("Crear Factura", "Create")
</h4>

<table id="tblFacturas" class="table table-dark">
    <thead>
        <tr>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.cedula_cliente)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.cedula_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.fecha_compra)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.estado_factura)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.monto_total)
            </th>
            <th class="thead-dark"></th>
            <th class="thead-dark"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="bg-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.cedula_cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cedula_user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado_factura)
                </td>
                <td>
                    ₡ @Html.DisplayFor(modelItem => item.monto_total)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.compraID })
                </td>
                <td>
                    @Html.ActionLink("Borrar", "Delete", new { id = item.compraID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#tblFacturas').DataTable({
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            }
            );
        });

    </script>
}
