@model IEnumerable<FrontEnd.Models.SalesViewModel>

@{
    ViewBag.Title = "Lista Facturación";
}

<h2>Lista Facturación</h2>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h4>
            <a href="../Sales/Create" class="btn btn-outline-info" style="font-size:0.8em;">Crear Factura</a>
        </h4>
    </div>
    <div class="col-4"></div>
</div>


<table id="tblFacturas" class="table table-light table-striped">
    <thead class="bg-primary">
        <tr>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.cedula_cliente)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.cedula_user)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.fecha_compra)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.estado_factura)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.monto_total)</font>
            </th>
            <th class=""></th>
            <th class=""></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cedula_cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cedula_user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_compra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado_factura)
                </td>
                <td>
                    ₡ @Html.DisplayFor(modelItem => item.monto_total)
                </td>
                <td>
                    <a href="../Sales/Details/@item.compraID" class="btn btn-primary" style="color:white;">Detalles</a>
                </td>
                <td>
                    <a href="../Sales/Delete/@item.compraID" class="btn btn-danger" style="color:white;">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#tblFacturas').DataTable({
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            }            
            );
            document.querySelectorAll("#tblFacturas label input").setAttribute("autofocus", "true");
        });

    </script>
}
