@model FrontEnd.Models.ClientsViewModel

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Está seguro de borrar este Cliente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cedula_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primer_nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primer_nombre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundo_nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundo_nombre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primer_apellido_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primer_apellido_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundo_apellido_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundo_apellido_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_electronico_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_electronico_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_cliente)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.clientID)
        @Html.HiddenFor(model => model.direccionID)
        @Html.HiddenFor(model => model.telefonoID)
        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-block btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
