@model FrontEnd.Models.ClientsViewModel

@{
    ViewBag.Title = "Editar";
}

<div class="row">
    <div class="col-12 text-center">
        <h2>Editar Cliente</h2>
        <hr class="hrn-hr" />
    </div>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.clientID)
        @Html.HiddenFor(model => model.direccionID)
        @Html.HiddenFor(model => model.telefonoID)

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.cedula_cliente, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.primer_nombre_cliente, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.cedula_cliente, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.cedula_cliente, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.primer_nombre_cliente, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.primer_nombre_cliente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.segundo_nombre_cliente, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.primer_apellido_cliente, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.segundo_nombre_cliente, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.segundo_nombre_cliente, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.primer_apellido_cliente, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.primer_apellido_cliente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.segundo_apellido_cliente, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.correo_electronico_cliente, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.segundo_apellido_cliente, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.segundo_apellido_cliente, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.correo_electronico_cliente, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.correo_electronico_cliente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.estado_cliente, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.DropDownListFor(model => model.estado_cliente, new SelectList(ViewBag.Estados, "nombreEstado", "nombreEstado"), new { @class = "form-control text-center" })
                    @Html.ValidationMessageFor(model => model.estado_cliente, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">

                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    <input type="submit" value="Guardar" class="btn btn-block btn-outline-dark" />
                </div>
            </div>
        </div>
        <br />
    </div>
}


<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
        <a href="~/Clients/Index" class="btn btn-block btn-pill btn-success" style="color:white !important; width:100%; position:relative;">Volver a la Lista</a>
    </div>
    <div class="col-5"></div>

</div>

<style>
    .es_valido {
        background: url(/Resources/ico_check_verd.svg) !important;
        background-repeat: no-repeat !important;
        background-position: 92% 10px !important;
    }

    .no_es_valido {
        background: url(/Resources/ico_x_red.svg);
        background-repeat: no-repeat;
        background-position: 92% 10px;
    }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#cedula_cliente').mask('0-0000-0000');
            $('#telefono').mask('0000-0000');


            $("form").submit(function () {
  

                if (!validacion()) {
                     mensajeSistema("Error", 'Por favor corregir los datos marcados con el símbolo: "<img src="/Resources/ico_x_red.svg" />"', "error");
                    return false;
                } else
                    return true;
            });

        });

        function validacion() {
            let resp = true;
            $("input.form-control").removeClass("es_valido");
            $("input.form-control").removeClass("no_es_valido");


            /*cedula_cliente*/
            if ($('#cedula_cliente').val() == null || $('#cedula_cliente').val().length < 11) {
                $('#cedula_cliente').addClass("no_es_valido");
                resp = false;
            } else {
                $('#cedula_cliente').addClass("es_valido");
            }
            
            /*primer_nombre_cliente*/
            if ($('#primer_nombre_cliente').val() == null || $('#primer_nombre_cliente').val() == "") {
                $('#primer_nombre_cliente').addClass("no_es_valido");
                resp = false;
            } else {
                $('#primer_nombre_cliente').addClass("es_valido");
            }

            /*segundo_nombre_cliente*/
            if ($('#segundo_nombre_cliente').val() == null || $('#segundo_nombre_cliente').val() == "") {
                //resp = false;
            } else {
                $('#segundo_nombre_cliente').addClass("es_valido");
            }


            /*primer_apellido_cliente*/
            if ($('#primer_apellido_cliente').val() == null || $('#primer_apellido_cliente').val() == "") {
                $('#primer_apellido_cliente').addClass("no_es_valido");
                resp = false;
            } else {
                $('#primer_apellido_cliente').addClass("es_valido");
            }

            /*segundo_apellido_cliente*/
            if ($('#segundo_apellido_cliente').val() == null || $('#segundo_apellido_cliente').val() == "") {
                $('#segundo_apellido_cliente').addClass("no_es_valido");
                resp = false;
            } else {
                $('#segundo_apellido_cliente').addClass("es_valido");
            }

            /*correo_electronico_cliente*/

            var cCM = $('#correo_electronico_cliente').val();
            var regex = /^[-\w.%+]{1,64}@@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
            if (!regex.test(cCM)) {
                $("#correo_electronico_cliente").removeClass("es_valido");
                $('#correo_electronico_cliente').addClass("no_es_valido");
                resp = false;
            } else {
                $("#correo_electronico_cliente").removeClass("no_es_valido");
                $('#correo_electronico_cliente').addClass("es_valido");
            }

            /*estado_cliente      ********************************************************** */
            if ($('#estado_cliente').prop('selectedIndex') == null || $('#estado_cliente').prop('selectedIndex') == 0) {
                $("#estado_cliente").removeClass("es_valido");
                $('#estado_cliente').addClass("no_es_valido");
                resp = false;
            } else {
                $("#estado_cliente").removeClass("no_es_valido");
                $('#estado_cliente').addClass("es_valido");
            }

            /*direccion*/
            if ($('#direccion').val() == null || $('#direccion').val() == "") {
                $('#direccion').addClass("no_es_valido");
                resp = false;
            } else {
                $('#direccion').addClass("es_valido");
            }

            /*telefono*/
            if ($('#telefono').val() == null || $('#telefono').val().length < 9) {
                $('#telefono').addClass("no_es_valido");
                resp = false;
            } else {
                $('#telefono').addClass("es_valido");
            }

            return resp;
        };



    </script>

}
