@model FrontEnd.Models.UserViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión - LavaCar</title>
    <link href="~/Vendor/bootstrap-4.3.1-dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/fresca/template3.css" rel="stylesheet" />
    <link rel="icon" type="image/jpeg" href="~/Resources/logo claro HRN.jpeg" />

    <style>
        * {
            margin: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            background-color: black;
            background: linear-gradient(black 40%,green);
        }

        #menu {
            background-color: black;
            position: absolute;
            top: 0;
            width: 100%;
        }

        #titulo {
            position: center;
            margin-top: 1.5%;
            left: 6%;
        }

        #saludo {
            position: center;
            margin-top: 1.5%;
            left: 17%;
        }


        #card-header {
            background-image: url('../Resources/green-white-polygonal-background_1035-6041.jpg');
            opacity: 0.8;
            filter: alpha(opacity=50);
        }

        #text-card-header {
            opacity: 1;
            filter: alpha(opacity=50);
            text-shadow: 2px 2px 4px rgba(0,0,0,1);
        }

        .card-login {
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-56%,-50%);
            width: 60%;
        }

        .lead {
            color: black;
        }

        .inputs-login {
            margin-bottom: 10px;
        }

        .align-left {
            text-align: left;
        }

        .todo-ancho {
            width: 90%;
        }

        footer {
            text-align: center;
            color: white;
            background-color: black;
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 66px;
        }

        .field-validation-error {
            color: red;
        }

        #card-01-card-header {
            background-image: url("~/Resources/green-white-polygonal-background_1035-6041.jpg") !important;
            background-position: center !important;
        }
    </style>
</head>
<body>
    <div id="menu" class="row">
        <div class="col-1" style="position:absolute;">
            <a class="navbar-brand" href="#">
                <img src="~/Resources/logo oscuro HRN.jpeg" width="70" height="70">
            </a>
        </div>
        <div id="titulo" class="col-7">
            <h2 class="navbar-brand text-light">Hornos Roberto Navarro</h2>
        </div>
        <div id="saludo" class="col-4" style="padding-top:1em;">
            <center>
                @*<h6 class="card-title">¡Bienvenido al sistema!</h6>*@
            </center>
        </div>
    </div>


    @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
    {
        <div class="card card-login">

            <div id="card-header" class="card-header">
                <h2 id="text-card-header" class="text-white text-center shadow-sm"> Introduzca sus credenciales</h2>
            </div>

            <div class="card-body">
                <center>

                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-2 align-left">@Html.LabelFor(model => model.UserName):</div>
                        <div class="col-4 inputs-login">@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @autoFocus = "true" } })</div>
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-2 align-left">
                            @Html.LabelFor(model => model.Password):
                        </div>
                        <div class="col-4">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-12">
                            @Html.ValidationMessageFor(model => model.Password)

                            <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <input type="reset" name="name" value="Limpiar" class="btn btn-outline-dark todo-ancho" />
                        </div>
                        <div class="col-3 todo-ancho">
                            <input type="submit" name="name" value="Iniciar Sesión" class="btn btn-outline-dark hrn-btnadd todo-ancho" data-toggle="modal" data-target="#exampleModalCenter"/>
                        </div>
                    </div>
                </center>

            </div>

            <div class="card-footer text-center text-muted">
                <p> &copy; @DateTime.Now.Year - Hornos Roberto Navarro </p>
            </div>

        </div>

    }

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ERROR</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body field-validation-error">
                    ¡Los datos Ingresados son incorrectos!
                </div>
                <div class="modal-footer">                    
                    <input type="submit" value="Volver" class="btn btn-primary" style="width:120px;" />
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script>

        </script>
    }
</body>
</html>



