@model FrontEnd.Models.UsersViewModel

@{
    ViewBag.Title = "Editar";
}
<div class="row">
    <div class="col-12 text-center">
        <h2>Editar Usuario</h2>
        <hr class="hrn-hr" />
    </div>
</div>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.userID)
        @Html.HiddenFor(model => model.direccionID)
        @Html.HiddenFor(model => model.telefonoID)

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.cedula_user, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.primer_nombre_user, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.cedula_user, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.cedula_user, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.primer_nombre_user, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.primer_nombre_user, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.segundo_nombre_user, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.primer_apellido_user, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.segundo_nombre_user, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.segundo_nombre_user, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.primer_apellido_user, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.primer_apellido_user, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.segundo_apellido_user, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.segundo_apellido_user, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.segundo_apellido_user, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.contrasena, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.estado_user, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.tipo_user, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.estado_user, new SelectList(ViewBag.Estados, "nombreEstado", "nombreEstado"), "--Select--", new { @class = "form-control text-center" })
                    @Html.ValidationMessageFor(model => model.estado_user, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.tipo_user, new SelectList(ViewBag.Tipos, "tipoUsuario", "tipoUsuario"), "--Select--", new { @class = "form-control text-center" })
                    @Html.ValidationMessageFor(model => model.tipo_user, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-6">

                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <input type="submit" value="Guardar" class="btn btn-block btn-outline-dark btn-md" />
                </div>
            </div>
        </div>
        <br />
    </div>
}

<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
        <a href="~/Users/Index" class="btn btn-block btn-pill btn-success" style="color:white !important; width:100%; position:relative;">Volver a la Lista</a>
    </div>
    <div class="col-5"></div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Cuidado!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Por favor corregir los datos marcados con el símbolo: "<img src="~/Resources/ico_x_red.svg" />"
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->


<style>
    .es_valido {
        background: url(/Resources/ico_check_verd.svg) !important;
        background-repeat: no-repeat !important;
        background-position: 92% 10px !important;
    }

    .no_es_valido {
        background: url(/Resources/ico_x_red.svg);
        background-repeat: no-repeat;
        background-position: 92% 10px;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {
            $('#cedula_user').mask('0-0000-0000');
            $('#telefono').mask('0000-0000');


            $("form").submit(function () {
                if (!validacion()) {
                    $('#myModal').modal('show');
                    return false;
                } else
                    return true;
            });

        });

        function validacion() {
            let resp = true;
            $("input.form-control").removeClass("es_valido");
            $("input.form-control").removeClass("no_es_valido");


            /*cedula_user*/
            if ($('#cedula_user').val() == null || $('#cedula_user').val().length < 11) {
                $('#cedula_user').addClass("no_es_valido");
                resp = false;
            } else {
                $('#cedula_user').addClass("es_valido");
            }
 
            /*primer_nombre_user*/
            if ($('#primer_nombre_user').val() == null || $('#primer_nombre_user').val() == "") {
                $('#primer_nombre_user').addClass("no_es_valido");
                resp = false;
            }else {
                $('#primer_nombre_user').addClass("es_valido");
            }

            /*segundo_nombre_user*/
            if ($('#segundo_nombre_user').val() == null || $('#segundo_nombre_user').val() == "") {
                //resp = false;
            }else {
                $('#segundo_nombre_user').addClass("es_valido");
            }
                      
            /*primer_apellido_user*/
            if ($('#primer_apellido_user').val() == null || $('#primer_apellido_user').val() == "") {
                $('#primer_apellido_user').addClass("no_es_valido");
                resp = false;
            }else {
                $('#primer_apellido_user').addClass("es_valido");
            }

            /*segundo_apellido_user*/
            if ($('#segundo_apellido_user').val() == null || $('#segundo_apellido_user').val() == "" ) {
                 $('#segundo_apellido_user').addClass("no_es_valido");
                resp = false;
            }else {
                $('#segundo_apellido_user').addClass("es_valido");
            }


             /*usuario*/
            if ($('#usuario').val() == null || $('#usuario').val() == "" ) {
                 $('#usuario').addClass("no_es_valido");
                resp = false;
            }else {
                $('#usuario').addClass("es_valido");
            }

            /*contrasena*/
            if ($('#contrasena').val() == null || $('#contrasena').val() == "" ) {
                 $('#contrasena').addClass("no_es_valido");
                resp = false;
            }else {
                $('#contrasena').addClass("es_valido");
            }

  
            /*estado_user      ********************************************************** */
            if ($('#estado_user').prop('selectedIndex') == null || $('#estado_user').prop('selectedIndex') == 0) {
                    $("#estado_user").removeClass("es_valido");
                    $('#estado_user').addClass("no_es_valido");
                resp = false;
            } else {
                $("#estado_user").removeClass("no_es_valido");
                $('#estado_user').addClass("es_valido");
            }
            console.log("Inx: " + $('#estado_user').prop('selectedIndex'));
            console.log("res: " + resp);

            /*tipo_user      ********************************************************** */
            if ($('#tipo_user').prop('selectedIndex') == null || $('#tipo_user').prop('selectedIndex') == 0) {
                    $("#tipo_user").removeClass("es_valido");
                    $('#tipo_user').addClass("no_es_valido");
                resp = false;
            } else {
                $("#tipo_user").removeClass("no_es_valido");
                $('#tipo_user').addClass("es_valido");
            }
  
            /*direccion*/
            if ($('#direccion').val() == null || $('#direccion').val() == "") {
                $('#direccion').addClass("no_es_valido");
                resp = false;
            }else {
                $('#direccion').addClass("es_valido");
            }

            /*telefono*/
            if ($('#telefono').val() == null || $('#telefono').val().length < 9) {
                 $('#telefono').addClass("no_es_valido");
                resp = false;
            }else {
                $('#telefono').addClass("es_valido");
            }

            return resp;
        };



    </script>
}
