@model IEnumerable<FrontEnd.Models.UsersViewModel>

@{
    ViewBag.Title = "Lista Usuarios";
}

<h2>Lista de Empleados</h2>

<h4>
    @Html.ActionLink("Crear Usuario", "Create")
</h4>

    <table class="table table-dark">
        <tr>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.cedula_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.primer_nombre_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.segundo_nombre_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.primer_apellido_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.segundo_apellido_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.estado_user)
            </th>
            <th class="thead-dark"></th>
            <th class="thead-dark"></th>
            <th class="thead-dark"></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cedula_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primer_nombre_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundo_nombre_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primer_apellido_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundo_apellido_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado_user)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.userID })
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.userID })
            </td>
            <td>
                @Html.ActionLink("Borrar", "Delete", new { id = item.userID })
            </td>
        </tr>
        }

    </table>

