@model IEnumerable<FrontEnd.Models.UsersViewModel>

@{
    ViewBag.Title = "Lista Usuarios";
}

<h2>Lista de Empleados</h2>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h4>
            <a href="../Users/Create" class="btn btn-outline-info" style="font-size:0.8em;">Crear Empleado</a>
        </h4>
    </div>
    <div class="col-4"></div>
</div>

<table id="tblUsers" class="table table-light table-striped">
    <thead class="bg-primary">
        <tr>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.cedula_user)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.primer_nombre_user)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.segundo_nombre_user)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.primer_apellido_user)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.segundo_apellido_user)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.usuario)</font>
            </th>
            <th class="">
                <font color="white">@Html.DisplayNameFor(model => model.estado_user)</font>
            </th>
            <th class=""></th>
            <th class=""></th>
            <th class=""></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="">
            <td>
                @Html.DisplayFor(modelItem => item.cedula_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primer_nombre_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundo_nombre_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primer_apellido_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundo_apellido_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado_user)
            </td>
            <td>
                <a href="../Users/Edit/@item.userID" class="btn btn-success" style="color:white;">Editar</a>
            </td>
            <td>
                <a href="../Users/Details/@item.userID" class="btn btn-primary" style="color:white;">Detalles</a>
            </td>
            <td>
                <a href="../Users/Delete/@item.userID" class="btn btn-danger" style="color:white;">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#tblUsers').DataTable({
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            }
            );
        });

    </script>
}

