@model IEnumerable<FrontEnd.Models.UsersViewModel>

@{
    ViewBag.Title = "Lista Usuarios";
}

<h2>Lista de Empleados</h2>

<h4>
    @Html.ActionLink("Crear Usuario", "Create")
</h4>

<table id="tblUsers" class="table table-dark">
    <thead>
        <tr>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.cedula_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.primer_nombre_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.segundo_nombre_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.primer_apellido_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.segundo_apellido_user)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.estado_user)
            </th>
            <th class="thead-dark"></th>
            <th class="thead-dark"></th>
            <th class="thead-dark"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="bg-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.cedula_user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primer_nombre_user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.segundo_nombre_user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primer_apellido_user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.segundo_apellido_user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado_user)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.userID })
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.userID })
                </td>
                <td>
                    @Html.ActionLink("Borrar", "Delete", new { id = item.userID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#tblUsers').DataTable({
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            }
            );
        });

    </script>
}

