@model FrontEnd.Models.ProductsViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Está seguro de borrar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_manufactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_manufactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_venta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porcentaje_ganancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentaje_ganancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porcentaje_descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentaje_descuento)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.productID)
        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-block btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
