@model FrontEnd.Models.ProductsViewModel

@{
    ViewBag.Title = "Detalles de Producto";
}

<div class="row">
    <div class="col-12 text-center">
        <h2>Detalles de Producto</h2>
        <hr class="hrn-hr" />
    </div>
</div>


<div class="row">
    <div class="col-1"></div>
    <div class="table-responsive col-10">
        <table id="tblDetalle" class="table table-striped">
            <thead class="bg-primary">
                <tr>
                    <th><font color="white">@Html.DisplayNameFor(model => model.codigo_producto)</font></th>
                    <th><font color="white">@Html.DisplayNameFor(model => model.nombre_producto)</font></th>
                    <th><font color="white">@Html.DisplayNameFor(model => model.descripcion)</font></th>
                    <th><font color="white">@Html.DisplayNameFor(model => model.cantidad)</font></th>
                    <th><font color="white">@Html.DisplayNameFor(model => model.precio_manufactura)</font></th>
                    <th><font color="white">@Html.DisplayNameFor(model => model.precio_venta)</font></th>
                    <th><font color="white">@Html.DisplayNameFor(model => model.estado_producto)</font></th>
                    <th><font color="white">@Html.DisplayNameFor(model => model.porcentaje_ganancia)</font></th>
                    <th><font color="white">@Html.DisplayNameFor(model => model.porcentaje_descuento)</font></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.codigo_producto)</td>
                    <td>@Html.DisplayFor(model => model.nombre_producto)</td>
                    <td>@Html.DisplayFor(model => model.descripcion)</td>
                    <td>@Html.DisplayFor(model => model.cantidad)</td>
                    <td>₡@Html.DisplayFor(model => model.precio_manufactura)</td>
                    <td>₡@Html.DisplayFor(model => model.precio_venta)</td>
                    <td>@Html.DisplayFor(model => model.estado_producto)</td>
                    <td>@Html.DisplayFor(model => model.porcentaje_ganancia)</td>
                    <td>@Html.DisplayFor(model => model.porcentaje_descuento)</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <center>
                    <a href="~/Products/Index" class="btn btn-pill btn-success" style="color:white !important; width:100%;">Volver a la Lista</a>
                </center>
            </div>
            <div class="col-3">
                <center>
                    <button class="btn btn-pill btn-outline-dark" style="width:100%;"> @Html.ActionLink("Editar", "Edit", new { id = Model.productID })</button>
                </center>
            </div>
            <div class="col-2"></div>
        </div>
        <br />
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblDetalle').DataTable({
                dom: 'B',
                buttons: [
                    {
                        extend: 'copy',
                        text: 'Copiar',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                    },
                    {
                        extend: 'excel',
                        text: 'Excel',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                    },
                    {
                        extend: 'pdf',
                        text: 'Pdf',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                    }
                ],
                "language": { "url": "../../Vendor/DataTables/Spanish.json" }
            });
        });

    </script>


}
