@model FrontEnd.Models.ProductsViewModel

@{
    ViewBag.Title = "Editar Producto";
}
<div class="row">
    <div class="col-12 text-center">
        <h2>Editar Producto</h2>
        <hr class="hrn-hr" />
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.productID)

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.codigo_producto, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.nombre_producto, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.codigo_producto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigo_producto, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.nombre_producto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre_producto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control", @placeHolder = "0", @Min="1" } })
                    @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.precio_manufactura, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.precio_venta, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.precio_manufactura, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                    @Html.ValidationMessageFor(model => model.precio_manufactura, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.precio_venta, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                    @Html.ValidationMessageFor(model => model.precio_venta, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.estado_producto, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">
                    @Html.LabelFor(model => model.porcentaje_ganancia, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.DropDownListFor(model => model.estado_producto, new SelectList(ViewBag.Estados, "nombreEstado", "nombreEstado"), "--Select--", new { @class = "form-control text-center" })
                    @Html.ValidationMessageFor(model => model.estado_producto, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.porcentaje_ganancia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.porcentaje_ganancia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(model => model.porcentaje_descuento, htmlAttributes: new { @class = "control-label col-md-6" })
                </div>
                <div class="col-6">

                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    @Html.EditorFor(model => model.porcentaje_descuento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.porcentaje_descuento, "", new { @class = "text-danger" })
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    <input type="submit" value="Guardar" class="btn btn-block btn-outline-dark" />
                </div>
            </div>
        </div>
        <br />
    </div>
}

<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
        <a href="~/Products/Index" class="btn btn-pill btn-success btn-md" style="color:white !important; width:100%;">Volver a la Lista</a>
    </div>
    <div class="col-5"></div>

</div>



<style>
    .es_valido {
        background: url(/Resources/ico_check_verd.svg) !important;
        background-repeat: no-repeat !important;
        background-position: 92% 10px !important;
    }

    .no_es_valido {
        background: url(/Resources/ico_x_red.svg);
        background-repeat: no-repeat;
        background-position: 90% 10px;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {
           $('#cantidad').mask('00000');
           //$('#precio_venta').mask('000.000');
           //$('#precio_manufactura').mask('000.000');
           $('#porcentaje_ganancia').mask('0.00');
           $('#porcentaje_descuento').mask('0.00');


            $("form").submit(function () {
                if (!validacion()) {
                   mensajeSistema("Error", 'Por favor corregir los datos marcados con el símbolo: "<img src="/Resources/ico_x_red.svg" />"', "error");
                    return false;
                } else
                    return true;
            });

        });

        function validacion() {
            let resp = true;
            $("input.form-control").removeClass("es_valido");
            $("input.form-control").removeClass("no_es_valido");


            /*codigo_producto*/
            if ($('#codigo_producto').val() == null ||  $('#codigo_producto').val() == "") {
                $('#codigo_producto').addClass("no_es_valido");
                resp = false;
            } else {
                $('#codigo_producto').addClass("es_valido");
            }

            /*nombre_producto*/
            if ($('#nombre_producto').val() == null || $('#nombre_producto').val() == "") {
                $('#nombre_producto').addClass("no_es_valido");
                resp = false;
            }else {
                $('#nombre_producto').addClass("es_valido");
            }

            /*descripcion*/
            if ($('#descripcion').val() == null || $('#descripcion').val() == "") {
                 $('#descripcion').addClass("no_es_valido");
                resp = false;
            }else {
                $('#descripcion').addClass("es_valido");
            }

            /*cantidad*/
            if ($('#cantidad').val() == null || $('#cantidad').val() == "") {
                $('#cantidad').addClass("no_es_valido");
                resp = false;
            }else {
                $('#cantidad').addClass("es_valido");
            }

            /*precio_manufactura*/
            if ($('#precio_manufactura').val() == null || $('#precio_manufactura').val() == "" ) {
                 $('#precio_manufactura').addClass("no_es_valido");
                resp = false;
            }else {
                $('#precio_manufactura').addClass("es_valido");
            }


             /*precio_venta*/
            if ($('#precio_venta').val() == null || $('#precio_venta').val() == "" ) {
                 $('#precio_venta').addClass("no_es_valido");
                resp = false;
            }else {
                $('#precio_venta').addClass("es_valido");
            }


            /*estado_user      ********************************************************** */
            if ($('#estado_producto').prop('selectedIndex') == null || $('#estado_producto').prop('selectedIndex') == 0) {
                    $("#estado_producto").removeClass("es_valido");
                    $('#estado_producto').addClass("no_es_valido");
                resp = false;
            } else {
                $("#estado_producto").removeClass("no_es_valido");
                $('#estado_producto').addClass("es_valido");
            }


            /*porcentaje_ganancia*/
            if ($('#porcentaje_ganancia').val() == null || $('#porcentaje_ganancia').val() == "") {
                $('#porcentaje_ganancia').addClass("no_es_valido");
                resp = false;
            }else {
                $('#porcentaje_ganancia').addClass("es_valido");
            }

            /*porcentaje_descuento*/
            if ($('#porcentaje_descuento').val() == null || $('#porcentaje_descuento').val() == "") {
                 $('#porcentaje_descuento').addClass("no_es_valido");
                resp = false;
            }else {
                $('#porcentaje_descuento').addClass("es_valido");
            }



            return resp;
        };



    </script>
}
