@model IEnumerable<FrontEnd.Models.ProductsViewModel>

@{
    ViewBag.Title = "Lista de Productos";
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#tblProductos').DataTable({
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            }
            );
        });

    </script>
}

<h2>Lista de Productos</h2>

<h4>
    @Html.ActionLink("Crear Producto", "Create")
</h4>

<table id="tblProductos" class="display table-bordered" style="width:100%">
    <thead>
        <tr>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.codigo_producto)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.nombre_producto)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.precio_manufactura)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.precio_venta)
            </th>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.estado_producto)
            </th>
            <th class="thead-dark"></th>
            <th class="thead-dark"></th>
            <th class="thead-dark"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo_producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio_manufactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio_venta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado_producto)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.productID })
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.productID })
                </td>
                <td>
                    @Html.ActionLink("Borrar", "Delete", new { id = item.productID })
                </td>
            </tr>
        }
    </tbody>
</table>



