@model FrontEnd.Models.UsersViewModel

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar Usuario</h2>

<h3>¿Está seguro de borrar este usuario?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cedula_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primer_nombre_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primer_nombre_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundo_nombre_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundo_nombre_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primer_apellido_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primer_apellido_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundo_apellido_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundo_apellido_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.userID)
        @Html.HiddenFor(model => model.direccionID)
        @Html.HiddenFor(model => model.telefonoID)
        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
